@{
    ViewBag.Title = "Home Page";
}

<header class="masthead" style="background-image: url('img/home-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1>Bueller</h1>
                    <span class="subheading">Classroom and Employee Management</span>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
         
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
    
    </div>
    <div class="col-md-4">
    </div>
</div>